// VALUE

$transition: .23s;
$offset-medium: 20px;
$offset-small: 10px;

// COLOR

$bc-500px: #0099e5;

$bc-amazon: #f90;

$bc-behance: #1769ff;

$bc-bitbucket: #205081;

$bc-bitly: #ee6123;
$bc-bitly-2: #61b3de;

$bc-delicious: #39f;

$bc-disqus: #2e9fff;

$bc-dribbble-2: #ea4c89;

$bc-dropbox: #007ee5;

$bc-etsy: #d5641c;

$bc-facebook: #3b5998;

$bc-flickr: #0063dc;
$bc-flickr-2: #ff0084;

$bc-foursquare: #f94877;
$bc-foursquare-2: #0732a2;
$bc-foursquare-3: #2d5be3;

$bc-github: #4183c4;
$bc-github-4: #333;

$bc-goodreads: #553b08;

$bc-google-plus: #dd4b39;

$bc-ifttt: #3cf;
$bc-ifttt-2: #f40;

$bc-imdb: #f5de50;

$bc-instagram: #3f729b;

$bc-instapaper: #000;
$bc-instapaper-2: #428bca;

$bc-ios: #5fc9f8;
$bc-ios-2: #fecb2e;
$bc-ios-3: #fd9426;
$bc-ios-4: #fc3158;
$bc-ios-5: #147efb;
$bc-ios-6: #53d769;
$bc-ios-7: #fc3d39;
$bc-ios-8: #8e8e93;

$bc-kickstarter: #2bde73;
$bc-kickstarter-2: #0f2105;

$bc-lastfm: #d51007;

$bc-linkedin: #0976b4;

$bc-paypal: #003087;
$bc-paypal-2: #009cde;
$bc-paypal-3: #012169;

$bc-pinterest: #cc2127;

$bc-playstation: #003087;

$bc-product-hunt: #d85536;

$bc-quora: #a82400;

$bc-rss-2: #f26522;

$bc-soundcloud: #f80;
$bc-soundcloud-2: #f30;

$bc-spotify: #2ebd59;

$bc-squarespace: #222;

$bc-stackoverflow: #fe7a15;

$bc-starbucks: #00704a;

$bc-tumblr: #35465c;

$bc-twitter: #55acee;

$bc-typekit: #98ce1e;

$bc-vimeo: #162221;
$bc-vimeo-2: #1ab7ea;

$bc-vine: #00b488;

$bc-whatsapp: #4dc247;

$bc-windows: #00bcf2;

$bc-wordpress: #21759b;
$bc-wordpress-2: #d54e21;
$bc-wordpress-3: #464646;

$bc-youtube: #cd201f;